@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


*{
  font-family: "Sofia", cursive;
}

/* h1, h2 {
  font-family: "Dancing Script", cursive;
} */

html {
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

body {
  margin: 0;
  padding: 0;
}

input {
  font-size: 1.1em
}

button {
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


