@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');

*{
  font-family:  "Edu TAS Beginner", cursive;/* Police d'écriture */
}

html {
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

body {
  margin: 0;
  padding: 0;
}

button {
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

