/* VotreFichierDeStyles.module.css */
.mainAdminProductContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-size: 0.9em;
}

.addContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgb(157, 183, 224, 0.5);
   padding: 40px;
   border-radius: 10px;
   border: solid 1px rgb(215, 200, 200, 0.3);
   width: 65%;
   margin: auto;
}

.productInfo input,
.productInfo textarea {
   resize: none;
   text-align: center;
   margin: 20px;
   margin-top: 5px;
   padding: 8px;
   box-sizing: border-box;
   margin-bottom: 10px;
   border: 1px solid #ddd;
   border-radius: 4px;
   width: 250px;
   font-size: 0.9em;
}

.addContainer input,
.addContainer textarea {
   resize: none;
   text-align: center;
   margin: 20px;
   margin-top: 5px;
   padding: 8px;
   box-sizing: border-box;
   margin-bottom: 10px;
   border: 1px solid #ddd;
   border-radius: 4px;
   width: 200px;
   font-size: 1.1em;
}

.buttonsContainer {
   height: 120px;
}

.addContainer button {
   padding: 16px 12px;
   border: 1px solid black;
   border-radius: 4px;
   cursor: pointer;
   margin: auto;
   margin-top: 50px;
   margin-bottom: 30px;
   width: 95px;
}

.addContainer .closeButton {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: rgb(18, 11, 11); /* Couleur de fond du bouton */
   border: none;
   color: #fff; /* Couleur du texte */
   font-size: 18px;
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   position: relative;
}

.editDeleteContainer {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   padding: 10px;
   text-align: center;
   margin: auto;
   width: 80%;
}

.productArticle {
   background-color: #f8f8f8;
   border: 1px solid #ddd;
   overflow: hidden;
   transition: transform 0.3s ease-in-out;
   cursor: pointer;
   width: 250px;
   margin: 10px;
}

.articlesContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 5px;
   padding-top: 20px;
   background-color: #ddd;
   border-radius: 18px;
   border: 1px solid #ddd;
}

.productImage {
   width: 70%;
   height: auto;
   border-bottom: 1px solid #ddd;
}

.productInfo {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.priceContainer {
   display: flex;
   justify-content: center;
}

.productDescription {
   color: #666;
   text-align: center;
}

.mainAdminProductContainer h3 {
   margin-bottom: 10px;
}

/* Styles pour les inputs et boutons */

.editDeleteContainer input,
.editDeleteContainer textarea {
   resize: none;
   margin-top: 5px;
   padding: 8px;
   box-sizing: border-box;
   margin-bottom: 10px;
   border: 1px solid #ddd;
   border-radius: 4px;
}

.editDeleteContainer button {
   margin: 10px;
   padding: 8px 12px;
   border: 1px solid;
   border-radius: 4px;
   cursor: pointer;
   width: 110px;
   font-size: 1em;
}

.mainAdminProductContainer button:active {
   background-color: rgb(189, 238, 238);
}

@media screen and (min-width: 950px) {
   .addContainer input,
   .addContainer textarea {
      width: 400px;
   }

   .addContainer {
      width: 50%;
   }

   .editDeleteContainer {
      width: auto;
      text-align: center;
   }

   .productInfo input,
   .productInfo textarea {
      width: 400px;
      font-size: 1.1em;
   }
}
