.adminOrdersContainer {
   margin: auto;
   width: 100%;
   text-align: center;
}

.adminOrdersContainer img {
   width: 70%;
   height: 70%;
}

@media screen and (min-width: 950px) {
   .adminOrdersContainer {
      width: 60%;
   }

   .adminOrdersContainer img {
      width: 20%;
      height: 20%;
   }
}

