.adminOrdersContainer {
   margin: auto;
   width: 60%;
   text-align: center;
}

.adminOrdersContainer img {
   width: 20%;
   height: 20%;
}

@media screen and (max-width: 950px) {
   .adminOrdersContainer img{
      width: 70%;
      height: 70%;
   }
}
