/* VotreFichierDeStyles.module.css */

.boutiqueMainContainer  {
   text-align: center;
}

.boutiqueArticlesContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
   padding: 20px;
}

.articlesContainer section {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.boutiqueHeaders {
   display: flex;
   align-items: start;
   flex-direction: column;
   padding: 50px;
   margin-top: 20px;
}

.boutiquePanierLink {
   text-decoration: underline;
   margin-left: 77%;
   font-size: 1.15em;
   color: rgb(28, 27, 27);
   cursor: pointer
}

/* .boutiqueMainContainer h2 {
   margin-bottom: 10px;
   margin-left: 20%;
   font-size: 2em;
   font-weight: 100;
} */

.addCart {
   color: hsl(0, 0%, 50%, 25%);
   font-size: 30px;
   position: relative;
   top: 50px;
   left: 100px;
}
.addCart:hover {
   color: hsl(0, 0%, 50%, 40%);
   cursor: pointer;
}

.addCartActived {
   color: hsl(0, 51%, 73%, 85%);
   font-size: 30px;
   cursor: pointer;
   position: relative;
   top: 50px;
   left: 100px;
}

.addCartActived:hover {
   color: hsl(0, 51%, 73%, 100%);
   cursor: pointer;
}
