/* cart.module.css */

.cartItem {
    position: relative;
    display: flex;
    font-size: 20px;
    padding-top: 10px;  /* le padding sert pour la hauteur du cart dans le header */
    
  }

  .cartIcon {
    color:rgb(66, 74, 118) 
  }
  
  .quantity {
    position: absolute;
    top: -8px; /* Ajuste la position verticale pour aligner le cercle */
    right: -8px; /* Ajuste la position horizontale pour aligner le cercle */
    background-color: #6b4423; /* Couleur de fond pour la quantité */
    color: #fff; /* Couleur du texte pour la quantité */
    border-radius: 50%;
    width: 20px; /* Diamètre du cercle */
    height: 20px; /* Diamètre du cercle */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  
@media screen and (min-width: 780px) {
  .cartItem {
    padding-top: 3px
  }
}
  