@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");

.cartMainContainer {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow-x: hidden;
   margin: 5px;
}

.cartMainContainer h3 {
   text-align: center;
   margin-top:125px;
   color: #424A76;
}

.cartTitle {
   text-align: flex-start;
   margin: 100px;
   font-weight: 100;
   font-size: 30px;
}

.voidCart {
   font-size: 25px;
   text-align: center;
   padding-top: 100px;
   font-style: italic;
   font-weight: lighter;
   font-family: "Bad Script", cursive;
   font-weight: 400;
   font-style: normal;
}

.cartFlexContainer {
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   width: 900px;
   background-color: #f8f8f8;
   font-size: 1.2em;
}

.cartTitles {
   display: flex;
   justify-content: flex-end;
   width: 230px;
   margin-left: 470px;
   padding: 30px;
}

.cartItemsContainer {
   display: flex;
   justify-content: space-around;
   align-items: center;
   border: solid 1px white;
}

.cartItemsContainer img {
   width: 250px;
   border-radius: 5px;
}

.cartTotalContainer {
   display: flex;
   justify-content: center;
   width: 200px;
   border: solid 1px;
   padding: 30px;
   font-size: 1.2em;
   text-align: center;
   margin: auto;
   border-radius: 5px;
}

.cartTitleQuantity {
   margin-right: 120px;
}

.cartItemInfos {
   text-align: center;
   padding: 20px;
   text-decoration: none;
   color: rgb(36, 34, 34);
}

.cartItemInfos a {
   text-decoration: none;
}

.cartQuantityButtons {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.cartItemQuantity {
   width: 40px;
   text-align: center;
}

.cartDelete {
   color: grey;
   cursor: pointer;
}

.cartQuantityButtons button {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: rgb(165, 153, 231); /* Couleur de fond du bouton */
   border: none;
   color: #fff; /* Couleur du texte */
   font-size: 25px;
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   margin: 10px;
}

.cartLivraison {
   text-align: right;
   margin: 50px;
   text-align: center;
}

.cartButtonPurchase {
   margin: auto;
   padding: 20px;
   font-size: 1.2em;
   cursor: pointer;
   margin-top: 80px;
   margin-bottom: 200px;
}

@media screen and (max-width: 780px) {
   .cartTitles {
      display: none;
   }

   .cartFlexContainer {
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 90%;
      background-color: #f8f8f8;
      font-size: 20px;
   }

   .cartItemsContainer {
      padding: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: solid 1px white;
   }

   .cartQuantityButtons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 0px;
   }

   .cartItemInfos {
      text-align: center;
      padding: 0px;
   }

   .cartTotalContainer {
      display: flex;
      justify-content: center;
      width: 150px;
      border: solid 1px;
      padding: 30px;
      font-size: 26px;
      text-align: center;
      margin: auto;
   }

   .cartButtonPurchase {
      margin-top: 80px;
      margin-bottom: 160px;

      padding: 20px;
      font-size: 1.2em;
      cursor: pointer;
   }
}
