/* cart.module.css */

.cartItem a{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-top: 10px;  /* le padding sert pour la hauteur du cart dans le header */
    margin-left: 5px;
    width: content;
  }

  .cartItem a {
    margin: 0px;
    padding: 0px;
    
  }

  .cartIcon {
    color:rgb(66, 74, 118);
    position: relative;
    top:-10px;
  }
  
  .quantity {
    position: relative;
    top: -24px;
    right: -1px; 
    background-color:rgb(66, 74, 118); /* Couleur de fond pour la quantité */
    color: #fff; /* Couleur du texte pour la quantité */
    border-radius: 50%;
    width: 20px; /* Diamètre du cercle */
    height: 20px; /* Diamètre du cercle */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  
@media screen and (min-width: 780px) {
  .cartItem {
    padding-top: 12px
  }
}


@media screen and (max-width: 780px) {
  .cartItem {
    padding-top: 20px;
    
  }
}
  