.deconnexionMainContainer {
   min-height: 60%;
   padding: 10% 5% 0% 5%
}

.deconnexion {
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   max-width: 400px;
   border: 1px solid #ddd; /* Couleur de bordure similaire au header et au footer */
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   background-color: #f8f8f8; /* Couleur de fond douce */
   font-family: "Lobster", cursive; /* Police d'écriture similaire au header et au footer */
   padding: 20px 20px 60px 20px;
   text-align: center;
   
}

.deconnexion p {
   text-align: center;
   font-size: 1.1em;

}

.buttonContainer {
   display: flex;
   justify-content: space-around;
   margin-top: 20px;
   padding: 20px;
}

.buttonContainer button {
   margin-bottom: 10px;
   padding: 10px 20px 10px 20px;
   border: 1px solid #ccc;
   border-radius: 3px;
}

.buttonContainer button:hover {
   color: hsl(189, 51%, 73%);
   cursor: pointer;
}
