.forgottenPasswordContainer {
  min-height: 80%;
  display: flex;
  align-items: center;
  justify-content: center
  
}

.formContainer {
    
    margin: 4em auto;
    padding: 20px 20px 60px 20px;
    border: 1px solid #ddd; /* Couleur de bordure similaire au header et au footer */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8; /* Couleur de fond douce */
    text-align: center;
    font-size: 1em;
  
  }

  .formContainer .formInput {
    width: 80%;
    margin: 5px
  }

  .button {
    cursor: pointer
  }

  @media screen and (min-width: 950px) {

    .forgottenPasswordContainer {
      width:30%;
      margin: auto
    }

    .formContainer {
      width: 70%;  
    }
  
    .formContainer .formInput {
      width: 70%;
    }
  }