/* header.module.css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.mainContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #f8f8f8;
   border-bottom: 2px solid #ddd;
   padding-right: 10%;
   padding-left: 10%;
   z-index: 1;
}

.bottomContainer {
   display: flex;
   justify-content: flex-end;
   width: 70%;
   margin-top: 20px;
}

.titleContainer {
   font-size: 1.em;
   font-size: large;
   color: rgb(46, 44, 44);
}

.titleContainer h1 {
   font-family: "Dancing Script", cursive;
   font-size: 2.1em;
}

.titleContainer img {
   width: 20%;
   height: 20%;
}

@media screen and (min-width: 780px) {
   .mainContainer {
      justify-content: space-between;
      padding: 5px;
      padding-right: 15%;
      padding-left: 10%;
   }

   .titleContainer {
      margin-top: 10px;
   }
}

@media screen and (max-width: 370px) {
   .titleContainer h1 {
      font-size: 1.6em;
   }
}

@media screen and (max-width: 1600px) {
   .bottomContainer {
      width: 100%;
   }
}

@media screen and (max-height: 480px) and (max-width: 1000px) {
   .titleContainer {
      display: none;
   }
}
