.mentionsLegalesContainer {
   margin: auto;
   font-weight: 1.1 em;
   color: #333; /* Couleur du texte */
   
   width: 50%;
   margin-top: 100px;
   margin-bottom: 100px;
   padding:10px;
   text-align: justify;
   overflow-x:hidden;
}

.mentionsLegalesContainer a {
   color: #333; /* Couleur du texte */
   
}

@media screen and (max-width: 500px) {
   .mentionsLegalesContainer {
      width:90%;
      
   }
}
