.messageToastContainer {
    position: fixed;
    top: 15%;
    left:50%;
    text-align: center;
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 3;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 780px) {
    .messageToastContainer {
        top: 10%;
        left: 12%;
    }
}
