.profilContainer {
    width:60%;
    margin:auto;
    min-height: 80%;
    text-align: left;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.1em;
    margin-bottom:50px;
}

@media screen and (max-width: 950px) {
    
    .profilContainer img {
        width: 30%;
        height: 30%;
     }
}