.formContainer {
   max-width: 400px;
   margin: 4em auto;
   padding: 20px 20px 60px 20px;
   border: 1px solid #ddd; /* Couleur de bordure similaire au header et au footer */
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   background-color: #f8f8f8; /* Couleur de fond douce */
   margin-bottom: 400px;
}

.formContainer form {
   display: flex;
   flex-direction: column;
   padding: 30px;
   
}

.formContainer form input {
   margin: 5px;
}

@media screen and (max-width: 480px) {
   .formContainer {
      margin-left: 5px;
      margin-right: 5px;
   }
}
