.formContainer {
   max-width: 300px;
   margin: 4em auto;
   padding: 20px;
   border: 1px solid #ddd;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   background-color: #f8f8f8;
   margin-bottom: 400px;
   margin-right: 10px;
   margin-left:10px;

}

.formContainer form {
   display: flex;
   flex-direction: column;
   padding: 30px;
}

.formContainer form input {
   margin: 5px;
   font-size: 1.1em;
}

.button {
   cursor: pointer;
}

@media screen and (min-width: 481px) {
   .formContainer {
      margin: 4em auto;
   }
}
