@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap");

* {
   font-family: "Edu TAS Beginner", cursive; /* Police d'écriture */
}

.mainContainer {
   text-align: center;
   padding-left: 50px;
   padding-top: 50px;
   background-color: #f8f8f8;
   min-height: 80%;
   padding-top: 150px;
   
}

.mainContainer  button{
    cursor: pointer
}
