@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
* {
   font-family: "M PLUS 1p", sans-serif;
}

.mainContainer {
   text-align: center;
   padding-left: 50px;
   padding-top: 50px;
   background-color: #f8f8f8;
   min-height: 80%;
   padding-top: 150px;
   
}

.mainContainer  button{
    cursor: pointer
}
